language: node_js
node_js:
  - '6.6.0'

branches:
  only:
    - master

cache:
  directories:
    - node_modules

before_install:
  - npm install --cache-min Infinity --spin false --progress false --no-optional -g codeclimate-test-reporter

install:
  - npm install --cache-min Infinity --spin false --progress false --no-optional

script: npm run cover

after_script:
  - codeclimate-test-reporter < coverage/lcov.info

